Repository espoon-voltti/evaka: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shellcheck, service-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

aliases:
  - &shellcheck_image_version v0.7.2

workflows:
  job-selection:
    jobs:
      - path-filtering/filter:
          mapping: |
            .*\.(sh|bash) run-shellcheck true
            service/.* service-changed true
          base-revision: origin/master
          config-path: .circleci/continue-config.yml

e2e-playwright link + add needed data-qa attrs
  frontend/package.json
  frontend/src/citizen-frontend/header/EspooLogo.tsx
  frontend/src/citizen-frontend/map/UnitList.tsx
  frontend/yarn.lock
Due: none

lint fixes
  frontend/src/citizen-frontend/header/EspooLogo.tsx
Due: none

redesign api
  frontend/src/employee-frontend/api/unit.ts
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationsTable.tsx
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
Due: service-changed

review fixes
  service/src/main/kotlin/fi/espoo/evaka/shared/auth/Acl.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/security/AccessControl.kt
Due: service-changed

EVAKA-HOTFIX: Fix authorization of global scope actions for scoped roles
  service/src/main/kotlin/fi/espoo/evaka/shared/auth/Acl.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/security/AccessControl.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/security/Action.kt
Due: service-changed

add create reservation button
  frontend/src/citizen-frontend/calendar/CalendarGridView.tsx
  frontend/src/citizen-frontend/calendar/CalendarListView.tsx
  frontend/src/lib-icons/free-icons.ts
  frontend/src/lib-icons/index.ts
  frontend/src/lib-icons/pro-icons.ts
Due: none

EVAKA-4240: desktop calendar view
  frontend/src/citizen-frontend/calendar/CalendarGridView.tsx
  frontend/src/citizen-frontend/calendar/CalendarListView.tsx
  frontend/src/citizen-frontend/calendar/CalendarPage.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

review fixes
  frontend/src/citizen-frontend/calendar/CalendarGridView.tsx
  frontend/src/citizen-frontend/calendar/CalendarListView.tsx
  frontend/src/citizen-frontend/calendar/CalendarPage.tsx
Due: none

add i18n keys
  frontend/src/citizen-frontend/calendar/CalendarGridView.tsx
  frontend/src/citizen-frontend/calendar/CalendarListView.tsx
  frontend/src/citizen-frontend/calendar/CalendarPage.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

Update fee data query and remove newly unnecessary code
  service/src/integrationTest/kotlin/fi/espoo/evaka/varda/VardaUpdateServiceV2IntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUpdateServiceV2.kt
  service/src/main/kotlin/fi/espoo/evaka/varda/integration/MockVardaIntegrationEndpoint.kt
Due: service-changed

Require accountant info for self employed too
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
  frontend/src/citizen-frontend/income-statements/types/body.ts
Due: none

Add audit logging to income statement endpoints
  service/src/main/kotlin/fi/espoo/evaka/Audit.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementController.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizen.kt
Due: service-changed

Trim unit OPH variables
  frontend/src/employee-frontend/components/unit/unit-details/UnitEditor.tsx
Due: none

Validate time string properly in arrival and departure forms
  frontend/src/employee-mobile-frontend/components/attendances/actions/MarkDeparted.tsx
  frontend/src/employee-mobile-frontend/components/attendances/actions/MarkPresent.tsx
  frontend/src/employee-mobile-frontend/components/attendances/child-info/ArrivalAndDeparture.tsx
  frontend/src/employee-mobile-frontend/components/attendances/child-info/ChildInfo.tsx
  frontend/src/lib-common/date.spec.ts
  frontend/src/lib-common/date.ts
Due: none

Remove unnecessary excel report option from varda errors report
  frontend/src/employee-frontend/components/reports/VardaErrors.tsx
Due: none

extract function assertPermissionUsingAllRoles
  service/src/main/kotlin/fi/espoo/evaka/shared/security/AccessControl.kt
Due: service-changed

Remove unnecessary ResponseEntity usage
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizenIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementController.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizen.kt
Due: service-changed

Improve varda sync progress and success logging
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUpdateServiceV2.kt
Due: service-changed

Implement citizen income statement listing and removal
  frontend/src/citizen-frontend/income-statements/IncomeStatements.tsx
  frontend/src/citizen-frontend/income-statements/api.ts
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
  service/src/main/kotlin/fi/espoo/evaka/Audit.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizen.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementQueries.kt
Due: service-changed

Refactor employee message thread listing
  frontend/src/e2e-playwright/pages/employee/messages/messages-page.ts
  frontend/src/employee-frontend/components/messages/MessageComponents.tsx
  frontend/src/employee-frontend/components/messages/MessageDrafts.tsx
  frontend/src/employee-frontend/components/messages/MessageList.tsx
  frontend/src/employee-frontend/components/messages/MessagesPage.tsx
  frontend/src/employee-frontend/components/messages/ReceivedMessages.tsx
  frontend/src/employee-frontend/components/messages/SentMessages.tsx
  frontend/src/employee-frontend/components/messages/SingleThreadView.tsx
  frontend/src/employee-frontend/components/messages/ThreadList.tsx
  frontend/src/employee-frontend/components/messages/ThreadListContainer.tsx
Due: none

add daily service time defaults, improve absence display
  frontend/src/employee-frontend/api/child/daily-service-times.ts
  frontend/src/employee-frontend/api/unit.ts
  frontend/src/employee-frontend/components/child-information/DailyServiceTimesSection.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationsTable.tsx
  frontend/src/lib-common/api-types/child/common.ts
  frontend/src/lib-icons/free-icons.ts
  frontend/src/lib-icons/index.ts
  frontend/src/lib-icons/pro-icons.ts
  service/src/integrationTest/kotlin/fi/espoo/evaka/attendance/GetAttendancesIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/attendance/ChildAttendanceQueries.kt
  service/src/main/kotlin/fi/espoo/evaka/dailyservicetimes/DailyServiceTimes.kt
  service/src/main/kotlin/fi/espoo/evaka/dailyservicetimes/DailyServiceTimesController.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
Due: service-changed

Show deceased indicator on child page
  frontend/src/employee-frontend/components/ChildInformation.tsx
Due: none

review fixes 1
  frontend/src/employee-frontend/api/unit.ts
  frontend/src/employee-frontend/components/unit/unit-reservations/AbsenceDay.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/ChildDay.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationsTable.tsx
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
Due: service-changed

Remove unnecessary slow call hunting
  service/src/main/kotlin/fi/espoo/evaka/varda/integration/VardaClient.kt
Due: service-changed

Refuse to send service need without enough hoursPerWeek
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUpdateServiceV2.kt
Due: service-changed

Add a deceased child to mock vtj data
  service/src/main/resources/mock-vtj-data.json
Due: service-changed

Enable experimental citizen income statements navigation in staging
  frontend/src/citizen-frontend/header/DesktopNav.tsx
  frontend/src/citizen-frontend/header/MobileNav.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

E2E test for showing deceased child indicator
  frontend/src/e2e-playwright/pages/employee/child-information.ts
  frontend/src/e2e-playwright/specs/5_employee/child-information.spec.ts
  frontend/src/e2e-test-common/dev-api/data-init.ts
  frontend/src/e2e-test-common/dev-api/fixtures.ts
  frontend/src/employee-frontend/components/ChildInformation.tsx
  frontend/src/employee-frontend/components/PersonProfile.tsx
Due: none

Use separate title and description for income listing and form
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

Implement confirmation modal for deleting income statement
  frontend/src/citizen-frontend/income-statements/IncomeStatements.tsx
  frontend/src/citizen-frontend/income-statements/api.ts
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

review fixes 2 and remove unnecessary boolean from variable daily times
  frontend/src/employee-frontend/api/child/daily-service-times.ts
  frontend/src/employee-frontend/components/child-information/DailyServiceTimesSection.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationsTable.tsx
  frontend/src/lib-common/api-types/child/common.ts
  service/src/integrationTest/kotlin/fi/espoo/evaka/attendance/GetAttendancesIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/dailyservicetimes/DailyServiceTimes.kt
  service/src/main/kotlin/fi/espoo/evaka/dailyservicetimes/DailyServiceTimesController.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
Due: service-changed

Update Espoo dev daycare data from staging
  service/src/main/resources/dev-data/espoo-dev-data.sql
Due: service-changed

Add missing unit managers to default data
  service/src/main/resources/dev-data/espoo-dev-data.sql
Due: service-changed

fix bug
  service/src/main/kotlin/fi/espoo/evaka/dailyservicetimes/DailyServiceTimes.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
Due: service-changed

Model income statement deletion with one useState and sum type
  frontend/src/citizen-frontend/income-statements/IncomeStatements.tsx
Due: none

Fix "p cannot be a descendant of p"
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
Due: none

Add createChildV2 for better error handling
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaOrganizerChild.kt
Due: service-changed

Try to parse varda errors
  service/src/main/kotlin/fi/espoo/evaka/varda/integration/VardaClient.kt
Due: service-changed

Dockerize e2e tests
  bin/circleci-e2e-cmd.sh
  bin/circleci-e2e.sh
  compose/e2e/playwright.Dockerfile
  compose/e2e/testcafe.Dockerfile
  compose/e2e/testcafe/bin/entrypoint.sh
  compose/e2e/testcafe/bin/run-tests.sh
Due: run-shellcheck

Fix grammar of legal references
  service/src/main/resources/WEB-INF/templates/fee-decision/decision.properties
  service/src/main/resources/WEB-INF/templates/fee-decision/fee-decision-common.properties
  service/src/main/resources/WEB-INF/templates/preschool/decision.properties
Due: service-changed
