Repository espoon-voltti/evaka: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shellcheck, service-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

aliases:
  - &shellcheck_image_version v0.7.2

workflows:
  job-selection:
    jobs:
      - path-filtering/filter:
          mapping: |
            .*\.(sh|bash) run-shellcheck true
            service/.* service-changed true
          base-revision: origin/master
          config-path: .circleci/continue-config.yml

validate and sync query params
  frontend/src/employee-frontend/components/unit/TabCalendar.tsx
  frontend/src/employee-frontend/components/unit/tab-calendar/GroupSelector.tsx
  frontend/src/employee-frontend/utils/useSyncQueryParams.ts
  frontend/src/employee-frontend/utils/validation/validations.ts
Due: none

Fix attendance arrival and departure time nanos
  service/src/main/kotlin/fi/espoo/evaka/shared/domain/HelsinkiDateTime.kt
Due: service-changed

Replace unlicensed Espoo logos in integration test
  service/src/integrationTest/kotlin/fi/espoo/evaka/FullApplicationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/attachments/AttachmentsControllerIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/attachments/AttachmentsIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizenIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerIntegrationTest.kt
  service/src/integrationTest/resources/attachments-fixtures/espoo-logo.jpg
  service/src/integrationTest/resources/attachments-fixtures/espoo-logo.png
  service/src/integrationTest/resources/attachments-fixtures/evaka-logo.jpg
  service/src/integrationTest/resources/attachments-fixtures/evaka-logo.png
Due: service-changed

Remove unused ipost PDF templates, Espoo logo
  service/src/main/resources/WEB-INF/templates/espoo-logo.html
  service/src/main/resources/WEB-INF/templates/ipost/ipost-letter.html
  service/src/main/resources/WEB-INF/templates/ipost/ipost-letter2.html
  service/src/main/resources/WEB-INF/templates/shared/common.html
Due: service-changed

Delete unused Espoo logos
  service/src/main/resources/static/espoo-logo-150x77.png
  service/src/main/resources/static/espoo-logo.png
Due: service-changed

Citizen: rename EspooLogo to CityLogo
  frontend/src/citizen-frontend/header/CityLogo.tsx
  frontend/src/citizen-frontend/header/Header.tsx
Due: none

Employee: delete unused Espoo logo
  frontend/src/employee-frontend/assets/EspooLogo.png
Due: none

Employee: rename header logo data-qa to city-logo
  frontend/src/employee-frontend/components/Header.tsx
Due: none

Employee: remove unused eVaka logos
  frontend/src/employee-frontend/assets/EvakaLogo.svg
  frontend/src/employee-frontend/assets/EvakaLogo.svg.license
Due: none

Maintenance page: use Node.js instad of Python for local dev
  frontend/package.json
Due: none

Maintenance page: replace Espoo logo with eVaka logo, docs
  frontend/src/lib-customizations/espoo/assets/EspooLogo.svg
  frontend/src/lib-customizations/espoo/citizen.tsx
  frontend/src/maintenance-page-frontend/EspooLogo.png
  frontend/src/maintenance-page-frontend/README.md
  frontend/src/maintenance-page-frontend/evaka-logo.svg
  frontend/src/maintenance-page-frontend/index.html
  frontend/src/maintenance-page-frontend/style.css
Due: none

Add missing license for included xmldom package
  apigw/xmldom-0.7.0.tgz.license
Due: none

APIGW: Update to latest xmldom where possible
  apigw/package.json
  apigw/src/shared/__tests__/saml-slo.ts
  apigw/yarn.lock
Due: none

simplify useSyncQueryParams
  frontend/src/employee-frontend/components/UnitPage.tsx
  frontend/src/employee-frontend/components/reports/VoucherServiceProviders.tsx
  frontend/src/employee-frontend/components/unit/TabCalendar.tsx
  frontend/src/employee-frontend/utils/useSyncQueryParams.ts
Due: none

Simplify unit data class
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUnits.kt
  service/src/test/kotlin/fi/espoo/evaka/varda/VardaUnitModelTest.kt
Due: service-changed

Remove unit closing_date check
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUnits.kt
Due: service-changed

Handle blank strings as nulls
  service/src/integrationTest/kotlin/fi/espoo/evaka/varda/VardaUpdateServiceIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUpdateService.kt
Due: service-changed

EVAKA-AI: remove api-gw proxy
  apigw/src/internal/app.ts
Due: none

Add missing license headers, files
  frontend/src/citizen-frontend/attachments.ts
  frontend/src/citizen-frontend/calendar/AbsenceModal.tsx
  frontend/src/citizen-frontend/calendar/ActionPickerModal.tsx
  frontend/src/citizen-frontend/calendar/ReservationModal.tsx
  frontend/src/citizen-frontend/calendar/WeekElem.tsx
  frontend/src/citizen-frontend/calendar/api.ts
  frontend/src/citizen-frontend/messages/EmptyThreadView.tsx
  frontend/src/e2e-playwright/pages/employee/person-search.ts
  frontend/src/employee-frontend/components/IncomeStatementPage.tsx
  frontend/src/employee-frontend/components/person-profile/PersonVoucherValueDecisions.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/AbsenceDay.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/ChildDay.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationModalSingleChild.tsx
  frontend/src/employee-frontend/components/vasu/QuestionInfo.tsx
  frontend/src/lib-common/api-types/attachment.ts
  frontend/src/lib-common/api-types/reservations.ts
  frontend/src/lib-components/atoms/UnorderedList.tsx
  frontend/src/lib-components/molecules/modals/ModalBackground.tsx
  frontend/src/maintenance-page-frontend/README.md
  service/codegen/src/main/kotlin/evaka/codegen/Check.kt
  service/codegen/src/main/kotlin/evaka/codegen/Generate.kt
  service/codegen/src/main/kotlin/evaka/codegen/apitypes/Controllers.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenControllerTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenQueriesTest.kt
  service/src/integrationTest/resources/attachments-fixtures/evaka-logo.jpg.license
  service/src/integrationTest/resources/attachments-fixtures/evaka-logo.png.license
  service/src/main/kotlin/fi/espoo/evaka/ExcludeCodeGen.kt
  service/src/main/kotlin/fi/espoo/evaka/attachment/Attachment.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/service/IncomeTypesProvider.kt
  service/src/main/kotlin/fi/espoo/evaka/reports/VardaErrorsReport.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/ReservationControllerCitizen.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/Reservations.kt
  service/src/main/kotlin/fi/espoo/evaka/serviceneed/ServiceNeedConfirmationDeserializer.kt
Due: service-changed

Add e2e test case for employee's income statement page
  frontend/src/e2e-playwright/pages/employee/finance/finance-page.ts
  frontend/src/e2e-playwright/pages/employee/person-profile.ts
  frontend/src/e2e-playwright/specs/4_finance/income-staments.spec.ts
  frontend/src/e2e-test-common/dev-api/index.ts
  frontend/src/e2e-test-common/dev-api/types.ts
  frontend/src/employee-frontend/components/income-statements/IncomeStatementsPage.tsx
  frontend/src/employee-frontend/components/person-profile/PersonIncome.tsx
  service/src/main/kotlin/fi/espoo/evaka/shared/dev/DevApi.kt
Due: service-changed

Link to fee thresholds
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
Due: none

Compile TypeScript outside webpack
  frontend/build.sh
  frontend/package.json
  frontend/src/citizen-frontend/tsconfig.json
  frontend/src/employee-frontend/tsconfig.json
  frontend/src/employee-mobile-frontend/tsconfig.json
  frontend/src/lib-components/tsconfig.json
  frontend/src/lib-customizations/tsconfig.json
  frontend/tsconfig.base.json
  frontend/tsconfig.eslint.json
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Due: run-shellcheck

Convert citizen-frontend imports to relative
  frontend/package.json
  frontend/src/citizen-frontend/App.tsx
  frontend/src/citizen-frontend/applications/editor/ApplicationFormDaycare.tsx
  frontend/src/citizen-frontend/applications/editor/service-need/AssistanceNeedSubSection.tsx
  frontend/src/citizen-frontend/auth/requireAuth.tsx
  frontend/src/citizen-frontend/calendar/AbsenceModal.tsx
  frontend/src/citizen-frontend/calendar/ActionPickerModal.tsx
  frontend/src/citizen-frontend/calendar/DayView.tsx
  frontend/src/citizen-frontend/header/const.ts
  frontend/src/citizen-frontend/messages/EmptyThreadView.tsx
  frontend/src/citizen-frontend/messages/MessageEditor.tsx
  frontend/src/citizen-frontend/messages/MessagesPage.tsx
  frontend/src/citizen-frontend/messages/state.tsx
  frontend/yarn.lock
Due: none

Convert employee-frontend imports to relative
  frontend/package.json
  frontend/src/employee-frontend/components/ApplicationPage.tsx
  frontend/src/employee-frontend/components/ChildInformation.tsx
  frontend/src/employee-frontend/components/Header.tsx
  frontend/src/employee-frontend/components/WelcomePage.tsx
  frontend/src/employee-frontend/components/async-rendering.tsx
  frontend/src/employee-frontend/components/child-information/Assistance.tsx
  frontend/src/employee-frontend/components/child-information/AssistanceAction.tsx
  frontend/src/employee-frontend/components/child-information/AssistanceNeed.tsx
  frontend/src/employee-frontend/components/child-information/ChildDetails.tsx
  frontend/src/employee-frontend/components/child-information/DailyServiceTimesSection.tsx
  frontend/src/employee-frontend/components/child-information/FamilyContacts.tsx
  frontend/src/employee-frontend/components/child-information/MessageBlocklist.tsx
  frontend/src/employee-frontend/components/child-information/person-details/AdditionalInformation.tsx
  frontend/src/employee-frontend/components/employee/EmployeePinCodePage.tsx
  frontend/src/employee-frontend/components/fee-decision-details/IncomeSection.tsx
  frontend/src/employee-frontend/components/messages/EmptyMessageFolder.tsx
  frontend/src/employee-frontend/components/messages/GroupMessageAccountList.tsx
  frontend/src/employee-frontend/components/messages/MessageBox.tsx
  frontend/src/employee-frontend/components/messages/MessageContext.tsx
  frontend/src/employee-frontend/components/messages/MessagesPage.tsx
  frontend/src/employee-frontend/components/messages/ReceiverSelection.tsx
  frontend/src/employee-frontend/components/messages/SelectorNode.ts
  frontend/src/employee-frontend/components/messages/Sidebar.tsx
  frontend/src/employee-frontend/components/messages/SingleThreadView.tsx
  frontend/src/employee-frontend/components/messages/ThreadListContainer.tsx
  frontend/src/employee-frontend/components/person-profile/PersonFridgeHead.tsx
  frontend/src/employee-frontend/components/person-profile/PersonVoucherValueDecisions.tsx
  frontend/src/employee-frontend/components/person-profile/income/IncomeItemBody.tsx
  frontend/src/employee-frontend/components/person-profile/income/IncomeTable.tsx
  frontend/src/employee-frontend/components/reports/VoucherServiceProviders.tsx
  frontend/src/employee-frontend/components/unit/tab-groups/groups/Group.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationsTable.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/UnitAttendanceReservationsView.tsx
  frontend/src/employee-frontend/components/vasu/api.ts
  frontend/src/employee-frontend/components/vasu/templates/api.ts
  frontend/src/employee-frontend/components/voucher-value-decision/VoucherValueDecisionIncomeSection.tsx
  frontend/src/employee-frontend/state/child.tsx
  frontend/yarn.lock
Due: none

Convert employee-mobile-frontend imports to relative
  frontend/package.json
  frontend/src/employee-mobile-frontend/components/attendances/AttendancePageWrapper.tsx
  frontend/src/employee-mobile-frontend/components/attendances/child-info/ArrivalAndDeparture.tsx
  frontend/src/employee-mobile-frontend/components/attendances/child-info/ChildButtons.tsx
  frontend/yarn.lock
Due: none

Resolve lib-* with webpack aliases and jest moduleNameMapper
  frontend/package.json
  frontend/src/citizen-frontend/jest.config.ts
  frontend/src/e2e-playwright/jest.config.ts
  frontend/src/employee-frontend/jest.config.ts
  frontend/src/lib-common/jest.config.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Due: none

Separate type-check is no longer needed in CI
  .circleci/config.yml
Due: none

Remove ts-loader, fork-ts-checker-webpack-plugin
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix testcafe tests
  frontend/package.json
  frontend/src/e2e-test/pages/employee/fridge-head-information/fridge-head-information-page.ts
  frontend/yarn.lock
Due: none

Use build.sh in package scripts
  frontend/package.json
Due: none

Fix family overview income
  service/src/main/kotlin/fi/espoo/evaka/invoicing/data/IncomeQueries.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/service/FamilyOverviewService.kt
Due: service-changed

Turn off Postgres JIT in local/ci
  compose/db/postgresql.conf
Due: none

Update preparatory decision texts
  service/src/main/resources/WEB-INF/templates/preparatory/decision.properties
  service/src/main/resources/WEB-INF/templates/preparatory/decision_sv.properties
Due: service-changed

Improve income statement listing
  frontend/src/employee-frontend/api/income-statement.ts
  frontend/src/employee-frontend/components/income-statements/IncomeStatementsPage.tsx
  frontend/src/lib-common/api-types/incomeStatement.ts
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementQueries.kt
Due: service-changed

Move child request conversions under data classes
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaOrganizerChild.kt
Due: service-changed

Move unit request conversion under data class
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUnits.kt
  service/src/test/kotlin/fi/espoo/evaka/varda/VardaUnitModelTest.kt
Due: service-changed

Remove dead code
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUpdateService.kt
Due: service-changed

Remove excess error parser message logging
  service/src/main/kotlin/fi/espoo/evaka/varda/integration/VardaClient.kt
Due: service-changed

Convert employee-mobile-frontend imports to relative
  frontend/src/employee-mobile-frontend/components/attendances/AttendancePageWrapper.tsx
  frontend/src/employee-mobile-frontend/components/attendances/child-info/ArrivalAndDeparture.tsx
  frontend/src/employee-mobile-frontend/components/attendances/child-info/ChildButtons.tsx
Due: none
