Repository espoon-voltti/evaka: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shellcheck, service-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

aliases:
  - &shellcheck_image_version v0.7.2

workflows:
  job-selection:
    jobs:
      - path-filtering/filter:
          mapping: |
            .*\.(sh|bash) run-shellcheck true
            service/.* service-changed true
          base-revision: origin/master
          config-path: .circleci/continue-config.yml

Tighten ReportDownload typings
  frontend/src/employee-frontend/components/reports/ReportDownload.tsx
Due: none

Simplify raw report db mapping
  service/src/main/kotlin/fi/espoo/evaka/reports/RawReport.kt
Due: service-changed

Add cost center column to the raw report
  frontend/src/employee-frontend/components/reports/Raw.tsx
  frontend/src/employee-frontend/types/reports.ts
  service/src/main/kotlin/fi/espoo/evaka/reports/RawReport.kt
Due: service-changed

Fix VoucherServiceProviderUnit report typings
  frontend/src/employee-frontend/components/reports/VoucherServiceProviderUnit.tsx
  frontend/src/employee-frontend/types/reports.ts
Due: none

Add new income coefficients
  frontend/src/employee-frontend/components/person-profile/income/income-table/IncomeTableRow.tsx
  frontend/src/employee-frontend/types/income.ts
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
  service/src/main/kotlin/fi/espoo/evaka/invoicing/domain/Incomes.kt
Due: service-changed

Add a note about confidentiality
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

Hoito -> varhaiskasvatus
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

Add clarifications to the form description
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

Tweak Kela wording
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
  service/src/main/resources/migrations.txt
Due: service-changed

Make incomes register / kela checkup consent optional
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
  frontend/src/citizen-frontend/income-statements/types/body.ts
  frontend/src/citizen-frontend/income-statements/types/form.ts
  frontend/src/employee-frontend/components/IncomeStatementPage.tsx
  frontend/src/lib-common/api-types/incomeStatement.ts
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizenIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatement.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementQueries.kt
  service/src/main/resources/db/migration/V138__income_statement_checkup_consent.sql
Due: service-changed

Set locale for e2e tests
  frontend/package.json
Due: none

Add employee and person references to absence table
  frontend/src/lib-common/api-types/child/Absences.ts
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
  service/src/integrationTest/kotlin/fi/espoo/evaka/daycare/service/AbsenceServiceIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/pis/PersonIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/attendance/ChildAttendanceQueries.kt
  service/src/main/kotlin/fi/espoo/evaka/daycare/service/AbsenceService.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/dev/DataInitializers.kt
  service/src/main/resources/db/migration/V139__absence_modified_by_citizen.sql
  service/src/main/resources/migrations.txt
Due: service-changed

Extract modal background into own component
  frontend/src/employee-mobile-frontend/components/common/BottomModalMenu.tsx
  frontend/src/lib-components/molecules/FullScreenDimmedSpinner.tsx
  frontend/src/lib-components/molecules/modals/FormModal.tsx
  frontend/src/lib-components/molecules/modals/InfoModal.tsx
  frontend/src/lib-components/molecules/modals/ModalBackground.tsx
Due: none

Reporting absences as citizen
  frontend/src/citizen-frontend/calendar/AbsenceModal.tsx
  frontend/src/citizen-frontend/calendar/ActionPickerModal.tsx
  frontend/src/citizen-frontend/calendar/CalendarGridView.tsx
  frontend/src/citizen-frontend/calendar/CalendarListView.tsx
  frontend/src/citizen-frontend/calendar/CalendarPage.tsx
  frontend/src/citizen-frontend/calendar/ReservationModal.tsx
  frontend/src/citizen-frontend/calendar/api.ts
  frontend/src/lib-components/atoms/buttons/Button.tsx
  frontend/src/lib-components/molecules/date-picker/DatePicker.tsx
  frontend/src/lib-components/molecules/modals/ModalBackground.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
  frontend/src/lib-icons/free-icons.ts
  frontend/src/lib-icons/index.ts
  frontend/src/lib-icons/pro-icons.ts
  service/src/main/kotlin/fi/espoo/evaka/Audit.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/ReservationControllerCitizen.kt
Due: service-changed

Show absences in citizen calendar
  frontend/src/citizen-frontend/calendar/CalendarGridView.tsx
  frontend/src/citizen-frontend/calendar/CalendarPage.tsx
  frontend/src/citizen-frontend/calendar/DayElem.tsx
  frontend/src/citizen-frontend/calendar/DayView.tsx
  frontend/src/citizen-frontend/calendar/WeekElem.tsx
  frontend/src/citizen-frontend/calendar/api.ts
  frontend/src/citizen-frontend/localization/index.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenControllerTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenQueriesTest.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/ReservationControllerCitizen.kt
Due: service-changed

Add missing duplicate people report column localizations
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
Due: none

Clear absences marked by citizen on reservation
  service/src/main/kotlin/fi/espoo/evaka/reservations/ReservationControllerCitizen.kt
Due: service-changed

Change SICK_LEAVE_50/SICK_LEAVE_100 invoice product labels
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
  service/src/main/kotlin/fi/espoo/evaka/invoicing/integration/InvoiceIntegrationClient.kt
Due: service-changed

EVAKA-TECH_type-codegen
  frontend/src/lib-common/generated/api-types.d.ts
  service/.gitignore
  service/codegen2/build.gradle.kts
  service/codegen2/src/main/kotlin/evaka/codegen2/Controllers.kt
  service/codegen2/src/main/kotlin/evaka/codegen2/cli/Generate.kt
  service/settings.gradle.kts
  service/src/main/kotlin/fi/espoo/evaka/ExcludeCodeGen.kt
  service/src/main/kotlin/fi/espoo/evaka/daycare/controllers/DaycareController.kt
  service/src/main/kotlin/fi/espoo/evaka/daycare/service/AbsenceService.kt
  service/src/main/kotlin/fi/espoo/evaka/daycare/service/DaycareService.kt
  service/src/main/kotlin/fi/espoo/evaka/daycare/service/StaffAttendanceService.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/domain/FeeDecisions.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/domain/Incomes.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/domain/VoucherValueDecisions.kt
  service/src/main/kotlin/fi/espoo/evaka/reports/OccupancyReport.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
  service/src/main/kotlin/fi/espoo/evaka/serviceneed/ServiceNeedController.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/dev/DevApi.kt
  service/src/main/kotlin/fi/espoo/evaka/units/UnitsView.kt
  service/src/main/kotlin/fi/espoo/evaka/vasu/VasuController.kt
  service/src/main/kotlin/fi/espoo/evaka/vasu/VasuTemplateController.kt
Due: service-changed

fix date ranges
  frontend/src/lib-common/generated/api-types.d.ts
  service/codegen2/src/main/kotlin/evaka/codegen2/cli/Generate.kt
Due: service-changed

fix array types
  frontend/src/lib-common/generated/api-types.d.ts
  service/codegen2/src/main/kotlin/evaka/codegen2/cli/Generate.kt
Due: service-changed

add comments, sort alphabetically
  frontend/src/lib-common/generated/api-types.d.ts
  service/codegen2/src/main/kotlin/evaka/codegen2/cli/Generate.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
Due: service-changed

Load daily notes only if permitted to do so
  frontend/src/employee-frontend/components/unit/tab-groups/groups/Group.tsx
Due: none

Make PersonDetails component depend on raw data
  frontend/src/employee-frontend/components/async-rendering.tsx
  frontend/src/employee-frontend/components/child-information/ChildDetails.tsx
  frontend/src/employee-frontend/components/person-profile/PersonFridgeHead.tsx
  frontend/src/employee-frontend/components/person-shared/PersonDetails.tsx
Due: none

Include permitted actions in main child page payload
  frontend/src/employee-frontend/api/person.ts
  frontend/src/employee-frontend/components/ChildInformation.tsx
  frontend/src/employee-frontend/state/child.tsx
  service/src/main/kotlin/fi/espoo/evaka/daycare/controllers/ChildController.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/security/AccessControl.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/security/Action.kt
Due: service-changed

Upgrade to Kotlin 1.5.30
  evaka-bom/build.gradle.kts
  message-service/buildSrc/src/main/kotlin/Version.kt
  service/buildSrc/src/main/kotlin/Version.kt
Due: service-changed

Extend reservable days to include next year starting from July
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenQueriesTest.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/ReservationControllerCitizen.kt
Due: service-changed

Basic citizen reservation validation
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenControllerTest.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/ReservationControllerCitizen.kt
Due: service-changed

Fix collapsible E2E checks
  frontend/src/e2e-playwright/pages/employee/child-information-page.ts
Due: none

Implement top-level action checks on child information page
  frontend/src/employee-frontend/components/ChildInformation.tsx
  frontend/src/employee-frontend/components/child-information/Assistance.tsx
  frontend/src/employee-frontend/components/child-information/BackupCare.tsx
  frontend/src/employee-frontend/components/child-information/BackupPickup.tsx
  frontend/src/employee-frontend/components/child-information/ChildApplications.tsx
  frontend/src/employee-frontend/components/child-information/ChildDetails.tsx
  frontend/src/employee-frontend/components/child-information/DailyServiceTimesSection.tsx
  frontend/src/employee-frontend/components/child-information/FamilyContacts.tsx
  frontend/src/employee-frontend/components/child-information/MessageBlocklist.tsx
  frontend/src/lib-common/generated/action.d.ts
  service/src/main/kotlin/fi/espoo/evaka/daycare/controllers/ChildController.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/controller/FeeAlterationController.kt
  service/src/main/kotlin/fi/espoo/evaka/messaging/message/ChildRecipientsController.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/controllers/FamilyController.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/controllers/PersonController.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/security/Action.kt
Due: service-changed

Fix E2E test fixture and expectations
  frontend/src/e2e-playwright/specs/8_access/access.spec.ts
Due: none

add ci check
  .circleci/config.yml
  service/codegen2/build.gradle.kts
  service/codegen2/src/main/kotlin/evaka/codegen2/cli/Check.kt
  service/codegen2/src/main/kotlin/evaka/codegen2/cli/Generate.kt
Due: service-changed

fix gradle build
  service/codegen2/build.gradle.kts
Due: service-changed

Refactor messaging, UI improvements and bugfixes
  frontend/src/citizen-frontend/messages/MessagesPage.tsx
  frontend/src/citizen-frontend/messages/ThreadList.tsx
  frontend/src/citizen-frontend/messages/ThreadListItem.tsx
  frontend/src/citizen-frontend/messages/ThreadView.tsx
  frontend/src/citizen-frontend/messages/api.ts
  frontend/src/citizen-frontend/messages/state.tsx
  frontend/src/e2e-playwright/specs/7_messaging/messaging.spec.ts
  frontend/src/employee-frontend/components/Header.tsx
  frontend/src/employee-frontend/components/messages/GroupMessageAccountList.tsx
  frontend/src/employee-frontend/components/messages/MessageBox.tsx
  frontend/src/employee-frontend/components/messages/MessageContext.tsx
  frontend/src/employee-frontend/components/messages/MessageEditor.tsx
  frontend/src/employee-frontend/components/messages/MessagesPage.tsx
  frontend/src/employee-frontend/components/messages/Sidebar.tsx
  frontend/src/employee-frontend/components/messages/SingleThreadView.tsx
  frontend/src/employee-frontend/components/messages/ThreadListContainer.tsx
  frontend/src/employee-frontend/components/messages/api.ts
  frontend/src/employee-frontend/components/messages/types-view.ts
  frontend/src/employee-frontend/components/messages/types.ts
  frontend/src/lib-common/api-types/messaging/message.ts
  frontend/src/lib-components/utils/useReplyRecipients.ts
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
  service/src/integrationTest/kotlin/fi/espoo/evaka/messaging/MessageAccountQueriesTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/messaging/MessageIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/messaging/MessageNotificationEmailServiceIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/messaging/MessageQueriesTest.kt
  service/src/main/kotlin/fi/espoo/evaka/messaging/message/Message.kt
  service/src/main/kotlin/fi/espoo/evaka/messaging/message/MessageAccountQueries.kt
  service/src/main/kotlin/fi/espoo/evaka/messaging/message/MessageController.kt
  service/src/main/kotlin/fi/espoo/evaka/messaging/message/MessageControllerCitizen.kt
  service/src/main/kotlin/fi/espoo/evaka/messaging/message/MessageQueries.kt
Due: service-changed

Execute CI E2E via docker-compose
  .circleci/config.yml
  bin/circleci-e2e-cmd.sh
  bin/circleci-e2e.sh
  compose/docker-compose.e2e-tests.yml
  compose/e2e/entrypoint.sh
  compose/e2e/playwright.Dockerfile
  compose/e2e/playwright/bin/run-tests.sh
  compose/e2e/testcafe.Dockerfile
  compose/test-e2e
Due: run-shellcheck

Prevent citizen from editing/deleting handled income statements
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizenIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizen.kt
Due: service-changed

Slightly more readable code
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizen.kt
Due: service-changed

Allow adding attachments by employee
  apigw/src/internal/app.ts
  frontend/src/employee-frontend/api/attachments.ts
  frontend/src/employee-frontend/components/IncomeStatementPage.tsx
  frontend/src/employee-frontend/components/application-page/ApplicationEditView.tsx
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizenIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/attachment/AttachmentsController.kt
Due: service-changed

Add attachments directly to income statement when modifying an existing one
  apigw/src/enduser/routes.ts
  frontend/src/citizen-frontend/attachments.ts
  frontend/src/citizen-frontend/income-statements/IncomeStatementEditor.tsx
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
  service/src/main/kotlin/fi/espoo/evaka/attachment/AttachmentsController.kt
Due: service-changed

Don't show employee attachments to citizen
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizenIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/attachment/AttachmentQueries.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatement.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementController.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizen.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementQueries.kt
Due: service-changed
