Repository espoon-voltti/evaka: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-shellcheck, service-changed

Remove unneeded spaces from an SQL query
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementQueries.kt
Due: service-changed

Split attachments by whether they were uploaded by an employee
  frontend/src/employee-frontend/components/IncomeStatementPage.tsx
  frontend/src/lib-common/api-types/incomeStatement.ts
  frontend/src/lib-components/molecules/FileUpload.tsx
Due: none

Simplify an async function
  frontend/src/employee-frontend/components/IncomeStatementPage.tsx
Due: none

Check attachment count per parent entity
  service/src/integrationTest/kotlin/fi/espoo/evaka/attachments/AttachmentsControllerIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/attachment/AttachmentQueries.kt
  service/src/main/kotlin/fi/espoo/evaka/attachment/AttachmentsController.kt
Due: service-changed

Check income statement ownership when attaching a file
  service/src/main/kotlin/fi/espoo/evaka/attachment/AttachmentsController.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementQueries.kt
Due: service-changed

Fix attachment audit logging
  service/src/main/kotlin/fi/espoo/evaka/Audit.kt
  service/src/main/kotlin/fi/espoo/evaka/attachment/AttachmentsController.kt
Due: service-changed

Handle different error keys
  service/src/main/kotlin/fi/espoo/evaka/varda/integration/VardaClient.kt
Due: service-changed

Add mock varda error message
  service/src/integrationTest/kotlin/fi/espoo/evaka/varda/VardaUpdateServiceV2IntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/varda/integration/MockVardaIntegrationEndpoint.kt
Due: service-changed

Remove unnecessary delete operations
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUpdateServiceV2.kt
Due: service-changed

Add suomi.fi contact person
  message-service/src/main/kotlin/fi/espoo/evaka/msg/properties/SfiSoapProperties.kt
  message-service/src/main/kotlin/fi/espoo/evaka/msg/service/sfi/SfiAccountDetailsService.kt
Due: none

Remove data migration from absence table structure migration
  service/src/main/resources/db/migration/V139__absence_modified_by_citizen.sql
Due: service-changed

Include person oph oid in profile data
  service/src/main/kotlin/fi/espoo/evaka/pis/PersonQueries.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/service/PersonService.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/dev/DataInitializers.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/dev/DevApi.kt
Due: service-changed

OPH person oid editor
  frontend/src/employee-frontend/components/person-shared/PersonDetails.tsx
  frontend/src/employee-frontend/types/person.ts
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
Due: none

Limit oph person oid editing to admin and supervisor
  frontend/src/employee-frontend/components/person-shared/PersonDetails.tsx
Due: none

Add simple e2e test case for submitting citizen income statement
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
  frontend/src/citizen-frontend/income-statements/IncomeStatements.tsx
  frontend/src/e2e-playwright/pages/citizen/citizen-header.ts
  frontend/src/e2e-playwright/pages/citizen/citizen-income.ts
  frontend/src/e2e-playwright/specs/0_citizen/citizen-income-statement.spec.ts
Due: none

Use cache instead workspace
  .circleci/config.yml
  bin/circleci-e2e.sh
  compose/e2e/testcafe.Dockerfile
Due: run-shellcheck

merge codegen projects
  .circleci/config.yml
  frontend/src/lib-common/generated/api-types.d.ts
  service/codegen/build.gradle.kts
  service/codegen/src/main/kotlin/evaka/codegen/Check.kt
  service/codegen/src/main/kotlin/evaka/codegen/Generate.kt
  service/codegen/src/main/kotlin/evaka/codegen/actionenum/Definitions.kt
  service/codegen/src/main/kotlin/evaka/codegen/actionenum/Generators.kt
  service/codegen/src/main/kotlin/evaka/codegen/actionenum/cli/Check.kt
  service/codegen/src/main/kotlin/evaka/codegen/actionenum/cli/Cli.kt
  service/codegen/src/main/kotlin/evaka/codegen/actionenum/cli/Generate.kt
  service/codegen/src/main/kotlin/evaka/codegen/apitypes/Check.kt
  service/codegen/src/main/kotlin/evaka/codegen/apitypes/Controllers.kt
  service/codegen/src/main/kotlin/evaka/codegen/apitypes/Generate.kt
  service/codegen2/build.gradle.kts
  service/settings.gradle.kts
Due: service-changed

Make AsyncJobRunner more dynamic
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/async/AsyncJobQueriesTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/async/AsyncJobRunnerTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/job/ScheduledJobRunnerTest.kt
  service/src/main/kotlin/fi/espoo/evaka/application/DecisionMessageProcessor.kt
  service/src/main/kotlin/fi/espoo/evaka/application/PendingDecisionEmailService.kt
  service/src/main/kotlin/fi/espoo/evaka/application/SendApplicationReceivedEmailAsyncJobs.kt
  service/src/main/kotlin/fi/espoo/evaka/dvv/DvvModificationsBatchRefreshService.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/messaging/FeeDecisionGenerationJobProcessor.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/messaging/InvoicingAsyncJobs.kt
  service/src/main/kotlin/fi/espoo/evaka/koski/KoskiClient.kt
  service/src/main/kotlin/fi/espoo/evaka/koski/KoskiUpdateService.kt
  service/src/main/kotlin/fi/espoo/evaka/messaging/message/MessageNotificationEmailService.kt
  service/src/main/kotlin/fi/espoo/evaka/pairing/PairingAsyncJobs.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/service/FamilyInitializerService.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/service/VTJBatchRefreshService.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/async/AsyncJob.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/async/AsyncJobQueries.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/async/AsyncJobRunner.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/job/ScheduledJobs.kt
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUpdateService.kt
  service/src/main/kotlin/fi/espoo/evaka/varda/VardaUpdateServiceV2.kt
Due: service-changed

Simplify AsyncJobRunner API
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/async/AsyncJobRunnerTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/config/SharedIntegrationTestConfig.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/job/ScheduledJobRunnerTest.kt
  service/src/main/kotlin/fi/espoo/evaka/application/PendingDecisionEmailService.kt
  service/src/main/kotlin/fi/espoo/evaka/dvv/DvvModificationsBatchRefreshService.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/controller/FeeAlterationController.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/controller/FeeDecisionController.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/controller/FeeDecisionGeneratorController.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/controller/FinanceBasicsController.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/controller/IncomeController.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/controller/VoucherValueDecisionController.kt
  service/src/main/kotlin/fi/espoo/evaka/invoicing/messaging/FeeDecisionGenerationJobProcessor.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/controllers/ParentshipController.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/controllers/PartnershipsController.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/controllers/PersonController.kt
  service/src/main/kotlin/fi/espoo/evaka/pis/service/FridgeFamilyService.kt
  service/src/main/kotlin/fi/espoo/evaka/placement/PlacementController.kt
  service/src/main/kotlin/fi/espoo/evaka/serviceneed/ServiceNeedController.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/async/AsyncJobRunner.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/config/AsyncJobConfig.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/controllers/ScheduledJobTriggerController.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/db/Database.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/job/ScheduledJobRunner.kt
Due: service-changed

Remove deprecated async job stuff
  service/src/main/kotlin/fi/espoo/evaka/shared/async/AsyncJob.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/async/AsyncJobRunner.kt
Due: service-changed

Improve AsyncJobRunner test coverage
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/async/AsyncJobQueriesTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/async/AsyncJobRunnerTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/shared/db/DatabaseTest.kt
Due: service-changed

Support legacy job payloads
  service/src/main/kotlin/fi/espoo/evaka/shared/async/AsyncJob.kt
Due: service-changed

fix test
  service/codegen/src/test/kotlin/evaka/codegen/actionenum/GeneratorsTest.kt
Due: service-changed

clean up gitignore
  service/.gitignore
Due: service-changed

EVAKA-HOTFIX: update codegen
  frontend/src/lib-common/generated/api-types.d.ts
Due: none

fix #2
  frontend/src/lib-common/generated/api-types.d.ts
  service/src/main/kotlin/fi/espoo/evaka/daycare/controllers/ChildController.kt
  service/src/main/kotlin/fi/espoo/evaka/daycare/controllers/DaycareController.kt
Due: service-changed

disable api types generation
  frontend/src/lib-common/generated/api-types.d.ts
  service/codegen/src/main/kotlin/evaka/codegen/Check.kt
  service/codegen/src/main/kotlin/evaka/codegen/Generate.kt
Due: service-changed

exclude action enum
  frontend/src/lib-common/generated/api-types.d.ts
  service/codegen/src/main/kotlin/evaka/codegen/apitypes/Generate.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/security/Action.kt
Due: service-changed

fix test depending on day of week
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenControllerTest.kt
Due: service-changed

EVAKA-4240: employee creates reservations
  frontend/src/citizen-frontend/applications/editor/AdditionalDetailsSection.tsx
  frontend/src/citizen-frontend/applications/editor/FeeSection.tsx
  frontend/src/citizen-frontend/applications/editor/Heading.tsx
  frontend/src/citizen-frontend/applications/editor/contact-info/ChildSubSection.tsx
  frontend/src/citizen-frontend/applications/editor/contact-info/ContactInfoSection.tsx
  frontend/src/citizen-frontend/applications/editor/contact-info/GuardianSubSection.tsx
  frontend/src/citizen-frontend/applications/editor/contact-info/OtherChildrenSubSection.tsx
  frontend/src/citizen-frontend/applications/editor/contact-info/OtherPartnerSubSection.tsx
  frontend/src/citizen-frontend/applications/editor/contact-info/SecondGuardianSubSection.tsx
  frontend/src/citizen-frontend/applications/editor/service-need/AssistanceNeedSubSection.tsx
  frontend/src/citizen-frontend/applications/editor/service-need/PreferredStartSubSection.tsx
  frontend/src/citizen-frontend/applications/editor/service-need/ServiceNeedSection.tsx
  frontend/src/citizen-frontend/applications/editor/service-need/ServiceTimeSubSectionDaycare.tsx
  frontend/src/citizen-frontend/applications/editor/service-need/ServiceTimeSubSectionPreschool.tsx
  frontend/src/citizen-frontend/applications/editor/unit-preference/SiblingBasisSubSection.tsx
  frontend/src/citizen-frontend/applications/editor/unit-preference/UnitPreferenceSection.tsx
  frontend/src/citizen-frontend/applications/editor/validations.ts
  frontend/src/citizen-frontend/calendar/AbsenceModal.tsx
  frontend/src/citizen-frontend/calendar/DayView.tsx
  frontend/src/citizen-frontend/calendar/api.ts
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
  frontend/src/citizen-frontend/input-info-helper.ts
  frontend/src/employee-frontend/api/unit.ts
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationModalSingleChild.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationsTable.tsx
  frontend/src/employee-frontend/components/unit/unit-reservations/UnitAttendanceReservationsPage.tsx
  frontend/src/employee-frontend/utils/validation/input-info-helper.ts
  frontend/src/lib-common/api-types/reservations.ts
  frontend/src/lib-common/form-validation.spec.ts
  frontend/src/lib-common/form-validation.ts
  frontend/src/lib-common/generated/action.d.ts
  frontend/src/lib-common/tsconfig.json
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenControllerTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/reservations/ReservationCitizenQueriesTest.kt
  service/src/main/kotlin/fi/espoo/evaka/Audit.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/ReservationControllerCitizen.kt
  service/src/main/kotlin/fi/espoo/evaka/reservations/Reservations.kt
  service/src/main/kotlin/fi/espoo/evaka/shared/security/Action.kt
Due: service-changed

review fixes
  frontend/src/citizen-frontend/calendar/DayView.tsx
  frontend/src/employee-frontend/api/unit.ts
  frontend/src/employee-frontend/components/unit/unit-reservations/ReservationModalSingleChild.tsx
  frontend/src/lib-customizations/espoo/employee/assets/i18n/fi.ts
  service/src/main/kotlin/fi/espoo/evaka/reservations/AttendanceReservationController.kt
Due: service-changed

Re-use Finnish income i18n while waiting for translations
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

Fix add income statement button
  frontend/src/citizen-frontend/income-statements/IncomeStatements.tsx
Due: none

Income statement read-only view for citizen
  frontend/src/citizen-frontend/App.tsx
  frontend/src/citizen-frontend/income-statements/IncomeStatementView.tsx
  frontend/src/citizen-frontend/income-statements/IncomeStatements.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/en.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/fi.tsx
  frontend/src/lib-customizations/espoo/citizen/assets/i18n/sv.tsx
Due: none

EVAKA-4240_fix-child-duplication-bug
  service/src/main/kotlin/fi/espoo/evaka/reservations/ReservationControllerCitizen.kt
Due: service-changed

Add missing license headers to all income statement files
  frontend/src/citizen-frontend/income-statements/IncomeStatementEditor.tsx
  frontend/src/citizen-frontend/income-statements/IncomeStatementForm.tsx
  frontend/src/citizen-frontend/income-statements/IncomeStatementView.tsx
  frontend/src/citizen-frontend/income-statements/IncomeStatements.tsx
  frontend/src/citizen-frontend/income-statements/api.ts
  frontend/src/citizen-frontend/income-statements/types/body.ts
  frontend/src/citizen-frontend/income-statements/types/common.ts
  frontend/src/citizen-frontend/income-statements/types/form.ts
  frontend/src/e2e-playwright/pages/citizen/citizen-income.ts
  frontend/src/e2e-playwright/specs/0_citizen/citizen-income-statement.spec.ts
  frontend/src/e2e-test/specs/5_employee/income.spec.ts
  frontend/src/employee-frontend/api/income-statement.ts
  frontend/src/employee-frontend/components/income-statements/IncomeStatementsPage.tsx
  frontend/src/lib-common/api-types/incomeStatement.ts
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizenIntegrationTest.kt
  service/src/integrationTest/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerIntegrationTest.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatement.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementController.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementControllerCitizen.kt
  service/src/main/kotlin/fi/espoo/evaka/incomestatement/IncomeStatementQueries.kt
Due: service-changed

Use the established route pattern /{id} and /{id}/edit for income statements too
  frontend/src/citizen-frontend/App.tsx
  frontend/src/citizen-frontend/income-statements/IncomeStatements.tsx
Due: none

Handle unavailable attachment file properly
  frontend/src/citizen-frontend/income-statements/IncomeStatementView.tsx
Due: none

Do not wrap Routes in Fragments
  frontend/src/citizen-frontend/App.tsx
Due: none

Path conditions:
  run-shellcheck: any of: .*\.(sh|bash)
  service-changed: any of: service/.*
